bitsandbytes
deepspeed
einops
triton # windows https://huggingface.co/madbuda/triton-windows-builds/resolve/main/triton-3.0.0-cp312-cp312-win_amd64.whl
rwkv-fla
rwkv
transformers
GPUtil
plotly
lightning
datasets

h5py
wandb
tqdm